In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from splinter import Browser
import requests

In [2]:
 
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
#Mars news
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [5]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:

news_title = soup.find('div', class_='content_title').find('a').text
news_p = soup.find('div', class_='article_teaser_body').text

In [7]:

print(news_title)
print(news_p)

NASA Invites Students to Name Mars 2020 Rover
Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

In [8]:
#Mars featured image
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [9]:
 
html_image = browser.html

soup = BeautifulSoup(html_image, 'html.parser')

featured_image_url  = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

main_url = 'https://www.jpl.nasa.gov'

featured_image_url = main_url + featured_image_url

featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18280-1920x1200.jpg'

In [10]:
# Weather Twitter 
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

In [11]:

html_weather = browser.html
soup = BeautifulSoup(html_weather, 'html.parser')
tweets = soup.find_all('div', class_='js-tweet-text-container')

for tweet in tweets: 
    mars_weather = tweet.find('p').text
    if 'Sol' and 'pressure' in mars_weather:
        print(mars_weather)
        break
    else: 
        pass

InSight sol 265 (2019-08-25) low -99.4ºC (-146.9ºF) high -26.3ºC (-15.3ºF)
winds from the SSE at 5.3 m/s (12.0 mph) gusting to 16.1 m/s (35.9 mph)
pressure at 7.50 hPapic.twitter.com/9YLawm67zS

In [12]:
#Mars facts
facts_url = 'http://space-facts.com/mars/'
mars_facts = pd.read_html(facts_url)
mars_facts

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
mars_data = mars_facts[1]
mars_data.columns = ['Description','Value']
mars_data.set_index('Description', inplace=True)
mars_data.to_html()
data = mars_data.to_dict(orient='records')  
mars_data

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [17]:
# Mars hemispheres website
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)

In [18]:
html_hemispheres = browser.html

soup = BeautifulSoup(html_hemispheres, 'html.parser')

items = soup.find_all('div', class_='item')

hemisphere_image_urls = []

hemispheres_main_url = 'https://astrogeology.usgs.gov'

for i in items: 
    
    title = i.find('h3').text
    
    partial_image_url = i.find('a', class_='itemLink product-item')['href']
    
    browser.visit(hemispheres_main_url + partial_image_url)
    
    partial_image_html = browser.html
    
    soup = BeautifulSoup( partial_image_html, 'html.parser')
    
    img_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']
    
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})
    
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]